<section id="{{ id }}" class="section noskills" data-section="about">
      <h2>À propos</h2>
      <article class="about__content">
        <p>
          Vous cherchez une ressource pour vos travaux d'intégration HTML&nbsp;/&nbsp;CSS&nbsp;/&nbsp;JS ?
        </p>
        <p>Intégrateur web ou développeur front-end depuis 15 ans pour des grands comptes ou des P.M.E.</p>
        <blockquote>
          <h3>Toujours attentif à :</h3>
          <ul>
            <li><span>la propreté du code et aux respect des standards du web (W3C)</span></li>
            <li><span>la maintenabilité des fichiers SCSS, CSS et JavaScript</span></li>
            <li><span>la compatibilité cross navigateurs et au Responsive Web Design</span></li>
            <li><span>l’optimisation S.E.O (référencement naturel)</span> </li>
            <li><span>l'accessibilité</span></li>
            <li><span>la performance</span></li>
          </ul>
        </blockquote>
        <p>Je développe également des projets avec le CMS WordPress.</p>
        <p>Je sais par ailleurs être force de proposition pour décliner des éléments de charte graphique.</p>
        <p>Je peux intervenir en régie, chez le client en région parisienne ou en télétravail dans le cadre des
          missions.</p>
        <p>Mon statut est celui de freelance.</p>
        <p>Certifié <a href="https://www.opquast.com/certification/" target="_blank"
            aria-label="Certification Opquast: 725 points, visiter site Opquast">
            <svg class="skills__icon svg opquast" aria-hidden="true" focusable="false">
              <use xlink:href="#opquast"></use>
            </svg></a>
          <span>: 725 points.</span>
        </p>
        <p class="cta"><strong>Pour connaître mes disponibilités :</strong> <a href="#contact">
            <svg class="contact__icon icon-alpha svg">
              <use xlink:href="#phone"></use>
            </svg>Contactez-moi</a></p>
      </article>
    </section>