<div class="contact">
  <div class="contact__grid">
    <div class="contact__col col-address">
      <div class="contact__item">
        <h3 itemprop="name" class="contact__name">
          Denis Godec
        </h3>
        <div itemprop="jobTitle" class="contact__subtitle">
          <p><em>Intégrateur web</em></p>
          <p><em>Développeur Front-end</em></p>
          <p><em>Freelance</em></p>
        </div>
        <br>
        <div itemprop="url" content="https://weekub.fr/">
          <svg class="svg">
            <use xlink:href="#desktop"></use>
          </svg>
          <a class="contact__link" href="https://weekub.fr/">www.weekub.fr</a>
        </div>
      </div>
      <address class="contact__item" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
        <div itemprop="streetAddress">
          99 rue de Billancourt
        </div>
        <span itemprop="postalCode">
          92100
        </span>
        <span itemprop="addressLocality">
          Boulogne-Billancourt
        </span>
      </address>
      <p class="contact__item">
        <strong>N° SIRET : **** **** 7000 12</strong>
      </p>
    </div>
    <div class="contact__col col-phone">
      <div class="contact__item">
        <a class="contact__link" href="mailto:denis.godec@weekub.fr">
          <span class="contact__item-inner">
            <svg class="contact__icon icon-alpha svg">
              <use xlink:href="#email"></use>
            </svg>
            <span itemprop="email">
              Denis Godec
            </span>
          </span>
        </a>
      </div>
      <div class="contact__item">
        <a class="contact__link" href="https://www.linkedin.com/in/denis-godec-web-developper/"
          title="Voir mon profil LinkedIn" target="_blank" rel="noopener">
          <span class="contact__item-inner">
            <svg class="contact__icon icon-alpha svg">
              <use xlink:href="#linkedin-squared"></use>
            </svg>
            <span itemprop="linkedin">@denis-godec-995909155/</span>
          </span>
        </a>
      </div>
      <div class="contact__item btn">
        <a href="assets/docs/CV_2024-02-08_Denis_Godec.pdf" download="CV_Denis-Godec" type="application/pdf">
          <svg class="contact__icon icon-alpha svg">
            <use xlink:href="#pdf-icon"></use>
          </svg>Télécharger CV (100ko)&nbsp;<abbr title="Adobe Portable Document Format">pdf</abbr>
        </a>
      </div>
    </div>
  </div>
</div>