#RewriteEngine on
#RewriteRule ^index\.html$ / [R=301,L]
#RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

# Redirect to domain without www.
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule .* http://%1%{REQUEST_URI} [R=301,L]
# Same for HTTPS:
#RewriteCond %{HTTPS} on
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule .* https://%1%{REQUEST_URI} [R=301,L]

# Custom error pages.
# ErrorDocument 404 /error_404.html
# ErrorDocument 403 /error_403.html

# Prevent viewing of htaccess file and auth.php.
<Files .htaccess>
    order allow,deny
    deny from all
</Files>
<Files auth.php>
    order allow,deny
    deny from all
</Files>

# Prevent directory listings
Options All -Indexes

    # Compress text, html, javascript, css, xml:






# Redirection to HTTPS
<IfModule mod_rewrite.c>
    RewriteCond %{SERVER_PORT} ^80$
    RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]
</IfModule>

#les proxies doivent donner le bon contenu
Header append Vary User-Agent env=!dont-vary

# KILL THEM ETAGS
Header unset ETag
FileETag none


# BEGIN Expire headers
<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresDefault "access plus 7200 seconds"
 AddType image/x-icon .ico
 ExpiresByType image/ico "access plus 2592000 seconds"
 ExpiresByType image/icon "access plus 2592000 seconds"
 ExpiresByType image/x-icon "access plus 2592000 seconds"
 ExpiresByType text/css "access plus 2592000 seconds"
 ExpiresByType text/javascript "access plus 2592000 seconds"
 ExpiresByType text/html "access plus 7200 seconds"
 ExpiresByType application/xhtml+xml "access plus 7200 seconds"
 ExpiresByType application/javascript A2592000
 ExpiresByType application/x-javascript "access plus 2592000 seconds"
 ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
</IfModule>
# END Expire headers

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
<FilesMatch "\.(ico|css|webp|svg|ttf|woff|otf|png|gz)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
 <FilesMatch "\.(js)$">
    Header set Cache-Control "max-age=2592000, private"
 </FilesMatch>
<filesMatch "\.(html|htm)$">
    Header set Cache-Control "max-age=7200, public"
</filesMatch>
# Disable caching for scripts and other dynamic files
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
    Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers

# Block bad bots
