html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Roboto", "Droid Sans", "Heveltica", Arial;
  color: hsl(210, 29%, 29%);
}

* {
  box-sizing: border-box;
}

a {
  color: hsl(210, 29%, 24%);
  transition: color 200ms ease;
  text-decoration: none;
}
a:hover {
  color: hsl(358, 70%, 52%);
}
a:active {
  color: hsl(28, 80%, 52%);
}

a:focus-visible,
button:focus-visible {
  outline: 2px dotted currentColor;
  outline-offset: 3px;
}

p {
  line-height: 25px;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

blockquote {
  margin: 0.5rem 0;
}

h1,
h2 {
  font-family: "Roboto Light", "Droid Sans", "Heveltica", Arial;
  color: hsl(204, 64%, 44%);
}

h1 {
  font-size: 1.9rem;
  line-height: 35px;
  text-transform: uppercase;
}
h1:nth-child(1) {
  margin-top: 6px;
}
h1:nth-child(2) {
  margin-top: 1rem;
  letter-spacing: 2px;
  color: currentColor;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.05rem;
  font-family: "Roboto Medium", "Droid Sans", "Heveltica", Arial;
  text-transform: uppercase;
  color: hsl(204, 64%, 44%);
  margin-bottom: 0.5rem;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 20px auto 0;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(204, 8%, 76%);
}
header nav {
  justify-self: start;
  margin-left: 20px;
}
header .nav-open .togglemenu__bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  top: 15px;
}
header .nav-open .togglemenu__bar:nth-child(2) {
  display: none;
}
header .nav-open .togglemenu__bar:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
  top: 15px;
}
header .logo {
  display: -ms-flexbox;
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  -ms-flex-align: center;
      align-items: center;
  justify-self: center;
}
@media (max-width: 599px) {
  header .logo {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
header h2 {
  font-size: 1.8rem;
  letter-spacing: -1.2px;
  color: currentColor;
}
header figure:hover {
  animation: pulse 1000ms;
}
header figcaption {
  color: hsl(358, 70%, 52%);
  text-align: center;
  letter-spacing: 1px;
}
@media (max-width: 599px) {
  header {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    margin-top: 10px;
  }
}
header .togglemenu {
  position: fixed;
  cursor: pointer;
  z-index: 99999;
  width: 35px;
  height: 30px;
}
@media (max-width: 599px) {
  header .togglemenu {
    width: 25px;
    left: 10px;
    top: 15px;
  }
}
header .togglemenu__bar {
  display: block;
  width: 35px;
  height: 5px;
  margin-top: 4px;
  border-radius: 10px;
  background-color: currentColor;
  transition: transform 300ms ease;
}
@media (max-width: 599px) {
  header .togglemenu__bar {
    width: 25px;
  }
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 599px) {
  main {
    width: 90%;
    margin-left: 0.8rem;
  }
}

.mask {
  width: 360px;
  height: 165px;
  position: relative;
  z-index: 999999;
  background-color: aliceblue;
  top: 57px;
  animation: mask 4000ms ease-out;
}

.burgermenu {
  position: fixed;
  top: 65px;
  width: 360px;
  z-index: 99999;
  padding: 12px 5px;
  border-left: 5px solid hsl(204, 8%, 76%);
  background-color: hsl(0, 0%, 100%);
  transition: opacity 500ms ease;
}
.burgermenu__item {
  font-family: "Roboto Light", "Droid Sans", "Heveltica", Arial;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 35px;
}
.burgermenu__item.active {
  color: hsl(358, 70%, 52%);
}
.burgermenu li {
  margin-left: 5px;
}
.burgermenu a {
  text-decoration: none;
  color: hsl(204, 64%, 44%);
}
.burgermenu a:hover {
  color: hsl(358, 70%, 52%);
}
@media (max-width: 599px) {
  .burgermenu {
    left: 10px;
    top: 50px;
  }
}

#container .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 300px;
  min-width: 280px;
  height: auto;
  padding: 10px 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(40, 127, 184, 0.1);
}
#container .skills a {
  border-bottom: 1px dashed hsl(204, 64%, 44%);
}
#container li {
  width: 245px;
  line-height: 25px;
}
#container p {
  width: 245px;
}

.skills__header {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.skills .icons {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  row-gap: 1px;
  right: 10px;
  top: 10px;
}
.skills__star {
  text-align: right;
  margin-top: 10px;
}

section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 599px) {
  section {
    padding: 20px 20px 20px 30px;
  }
}
section h2 {
  font-family: "Roboto Regular", "Droid Sans", "Heveltica", Arial;
  margin-bottom: 1rem;
  font-size: clamp(2.2rem, 1.9605rem + 0.6397vw, 3rem);
}
section .about__content h3 {
  margin-bottom: 0;
  text-transform: inherit;
}
section .about__content a {
  border-bottom: 1px dashed hsl(204, 64%, 44%);
}
section .about__content p {
  font-size: 1.1rem;
}
section .about__content ul > li {
  line-height: 25px;
  list-style-type: square;
  color: hsl(358, 70%, 52%);
  margin-left: 2rem;
}
section .about__content ul > li span {
  color: hsl(210, 29%, 29%);
}
section svg {
  width: 2em;
  height: 2em;
  fill: currentColor;
  overflow: hidden;
  vertical-align: middle;
}
section svg.opquast {
  width: 5em;
}

.customers__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
@media (max-width: 899px) {
  .customers__content {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    -ms-flex-pack: start;
        justify-content: start;
  }
}
.customers__content a span {
  border-bottom: 1px dashed hsl(204, 64%, 44%);
}

.customers__item {
  position: relative;
  width: 300px;
  height: 169px;
  border: 1px solid hsl(204, 8%, 76%);
  overflow: hidden;
}
.customers__item figure {
  position: relative;
}
.customers__item figure figcaption {
  position: absolute;
  width: 100%;
  top: 140px;
  padding: 5px 0;
  opacity: 0.9;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  color: hsl(204, 64%, 44%);
  background-color: hsl(0, 0%, 100%);
}
.customers__item figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0;
     object-position: 0;
}
.customers__item:hover .customers__description {
  transform: translateY(0);
}
.customers__item:nth-child(7) h3 {
  letter-spacing: -0.5px;
}
.customers__description {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1rem;
  width: 300px;
  height: 169px;
  padding: 10px;
  z-index: 20;
  top: 0;
  background-color: hsl(0, 0%, 100%);
  transform: translateY(100%);
  transition: transform 500ms ease;
}
.customers__description p {
  line-height: 18px;
}
.customers__description svg {
  width: 1.2rem;
}

#contact {
  background-image: url(../assets/images/slide3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
}
@media (max-width: 1199px) {
  #contact {
    background-image: url(../assets/images/slide3x1200.webp);
    background-position: center;
  }
}

.contact {
  padding-bottom: 60vh;
}
@media (max-width: 599px) {
  .contact {
    padding-bottom: 50vh;
  }
}
.contact svg {
  margin-right: 0.5rem;
}
.contact span a {
  border-bottom: 1px dashed hsl(204, 64%, 44%);
}
.contact__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  grid-template-rows: 1fr;
  gap: 30px;
}
.contact__grid .contact__name {
  font-size: 1.3rem;
  margin-bottom: 0;
  text-transform: capitalize;
}
.contact__grid address {
  margin: 20px 0;
}
.contact__grid__col:nth-child(2) p {
  line-height: 40px;
}
.contact__grid__col .phone-icon {
  transform: rotate(100deg);
  fill: hsl(204, 64%, 44%);
}
.contact__item p {
  line-height: 1;
}
.contact__subtitle {
  font-weight: 100;
}
.contact a.contact__link {
  text-decoration: none;
}
.contact a.contact__link span span {
  border-bottom: 1px dashed hsl(204, 64%, 44%);
}

.cta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 599px) {
  .cta {
    -ms-flex-direction: column;
        flex-direction: column;
    margin-top: 1rem;
    margin-left: 0;
  }
}
.cta a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  min-width: 210px;
  max-width: 220px;
  padding: 0.2rem 1rem;
  margin-left: 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(358, 70%, 52%);
  text-align: center;
  font-size: 1.1rem;
  line-height: 25px;
  font-family: "Roboto Medium", "Droid Sans", "Heveltica", Arial;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
  text-transform: uppercase;
}
@media (max-width: 599px) {
  .cta a {
    margin-left: 0;
  }
}
.cta a:hover {
  background: hsl(204, 64%, 44%);
}
.cta svg {
  transform: rotate(100deg) scale(0.7);
  margin-right: 0.3rem;
  fill: hsl(0, 0%, 100%);
}

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 0.5rem;
}
@media (max-width: 599px) {
  .btn {
    margin-left: 0;
  }
}
.btn a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: "Roboto Medium", "Droid Sans", "Heveltica", Arial;
  color: hsl(0, 0%, 100%);
  padding: 0.2rem 0.8rem 0.2rem 0.2rem;
  text-align: center;
  line-height: 25px;
  border-radius: 6px;
  text-decoration: none;
  background-color: hsl(358, 70%, 52%);
  transition: background-color 200ms ease-in-out;
}
@media (max-width: 599px) {
  .btn a {
    margin-left: 0;
  }
}
.btn a:hover {
  background: hsl(204, 64%, 44%);
}
.btn svg {
  transform: scale(0.7);
  margin-right: 0;
  fill: hsl(0, 0%, 100%);
}

footer {
  height: 10rem;
}
footer .arrow-up {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
footer .arrow-up span {
  margin-right: 0.5rem;
}
footer .arrow-up:hover {
  color: hsl(204, 64%, 44%);
}
footer .arrow-up:hover svg {
  fill: hsl(204, 64%, 44%);
}
footer svg {
  width: 2em;
  height: 1.5em;
  transform: scale(1.5);
}
footer svg:hover {
  fill: hsl(204, 64%, 44%);
}

.anime {
  animation: flag 5000ms ease-out;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.hidden {
  display: none;
}

.error404 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  row-gap: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes flag {
  from {
    width: 10px;
    opacity: 0.1;
  }
  50% {
    width: 120px;
    opacity: 1;
  }
  to {
    width: 360px;
  }
}
@keyframes mask {
  from {
    width: 360px;
  }
  to {
    width: 0;
  }
}/*# sourceMappingURL=global.css.map */