$config: (
  theme1: (
    background-color: white,
  ),
  theme2: (
    background-color: black,
  )
);

.m-button {
  @each $key, $value in $themes {
    @if map-has-key($config, $key) {
      .#{$value} & {
        background: setStyle($config, $key, background-color);
        color: setStyle($config, $key, color);
      }
    } @else {
      @warn "The key ´#{$key} isn’t defined in the map $config´"
    }
  }
}