@use 'colors';
@use 'mixin';

.theme-dark {
  a {
    &.contact__link {
      @include mixin.map-colors('white');
      transition: color 200ms ease;
      &:hover {
        color: map-get($map: colors.$colors, $key: 'logocolor');
      }
    }
    &.arrow-up {
      @include mixin.map-colors('white');
      &:hover {
        color: map-get($map: colors.$colors, $key: 'logocolor');
      }
    }
  }

  .nav-open {
    .togglemenu__bar {
      background-color: map-get($map: colors.$colors, $key: 'black-pearl');
    }
  }

  .togglemenu__bar {
    background-color: map-get($map: colors.$colors, $key: 'white');
  }

  .about__content {
    ul > li span {
      @include mixin.map-colors('white');
    }
    svg {
      @include mixin.map-colors('white');
    }
  }

  h1 {
    @include mixin.map-colors('white');
  }

  h2 {
    @include mixin.map-colors('white');
  }

  header h2 {
    @include mixin.map-colors(carrot);
  }

  h3 {
    // color: map-get($map: colors.$colors, $key: 'carrot');
    @include mixin.map-colors('carrot');
    &.contact__name {
      @include mixin.map-colors('white');
    }
  }

  #skills-container .skills {
    background-color: map-get($map: colors.$colors, $key: 'clouds');
    &__star {
      color: map-get($map: colors.$colors, $key: 'belize-hole');
    }
    ul,
    p {
      color: map-get($map: colors.$colors, $key: 'black-pearl');
    }
  }

  .customers__summary {
    color: map-get($map: colors.$colors, $key: 'black-pearl');
  }

  #contact {
    // background-image: url(../images/slide2.jpg);
    background-image: none;
  }
}
