<!DOCTYPE html>
{% set sections = [{id: 'about', title: 'À propos'}, {id: 'skills', title: 'Compétences'}, {id: 'customers', title: 'Réalisations'}, {id: 'contact', title: 'Contact'}] %}

<html lang="fr" itemscope itemtype="http://schema.org/WebPage">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="description" content="Denis Godec, Intégrateur HTML / CSS / JavaScript / WordPress Freelance, situé en région parisienne.">
        <meta name="keywords" content="freelance, indépendant, intégrateur HTML, CSS, JavaScript, html5, webdesign, figma, design system, photoshop, visual studio code, rgaa, accessibilité, site web, site internet, front-end, less, sass, gulp, bootstrap, WordPress, Adobe XD">
        <meta name="author" content="Denis Godec - WeeKub">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <title>{% block title %}Denis Godec, Intégrateur HTML / CSS / JavaScript / WordPress Freelance, situé en région parisienne.{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('weekub-theme/public/assets/css/styles.min.css') }}">
        {% endblock %}
        {% block javascripts %}
            <script src="http://localhost:8888/weekub-theme/public/assets/js/main.js"></script>
        {% endblock %}
    {% endblock %}
    {% block scripts %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0XQ65BJE3F"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0XQ65BJE3F');
        </script>
    {% endblock %}
</head>

<body class="theme-light">
    {% block body %}{% endblock %}
    {% block footer %}
        {% include "content/footer.html" %}
    {% endblock %}

</body>

</html>