<!DOCTYPE html>
<html lang="fr" itemscope itemtype="http://schema.org/WebPage">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Denis Godec, Intégrateur HTML / CSS / JavaScript / WordPress Freelance, situé en région
        parisienne.{% endblock %}</title>
        <meta name="description"
            content="Denis Godec, Intégrateur HTML / CSS / JavaScript / WordPress Freelance, situé en région parisienne.">
        <meta name="keywords"
            content="freelance, indépendant, intégrateur HTML, CSS, JavaScript, html5, webdesign, figma, design system, photoshop, visual studio code, rgaa, accessibilité, site web, site internet, front-end, less, sass, gulp, bootstrap, WordPress, Adobe XD">
        <meta name="author" content="Denis Godec">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
    {% block stylesheets %}
    <link rel="stylesheet" href="./assets/css/style.min.css">
    {% endblock %}

    {% block javascripts %}
        <script src="./assets/js/main.js"></script>
    {% endblock %}
</head>

<body class="theme-dark">
    {% block body %}
       
    {% endblock %}
</body>

</html>