{% extends "base.html.twig" %}
{% block body %}
{{ include ("atoms/svg.html")}}
{{ include('modules/header.html.twig') }}
  {% block content %}
  <main role="main">
    {% include 'organisms/section.html.twig' %}
  </main>
  {% endblock %}
{% endblock %}