
<button class="togglemenu" aria-label="Burger menu principal" aria-expanded="false">
  <span class="togglemenu__bar">&nbsp;</span>
  <span class="togglemenu__bar">&nbsp;</span>
  <span class="togglemenu__bar">&nbsp;</span>
</button>
