<nav role="navigation" aria-label="Menu principal">
  {{ include('atoms/burgermenu.html.twig') }}
  <ul class="burgermenu hide" aria-expanded="false">
    <li class="burgermenu__list"><a href="#about" class="burgermenu__item" data-id="about"
        aria-current="false">À&nbsp;propos</a></li>
    <li class="burgermenu__list"><a href="#skills" class="burgermenu__item" data-id="skills"
        aria-current="false">Compétences</a></li>
    <li class="burgermenu__list"><a href="#customers" class="burgermenu__item" data-id="customers"
        aria-current="false">Réalisations</a>
    </li>
    <li class="burgermenu__list"><a href="#contact" class="burgermenu__item" data-id="contact"
        aria-current="false">Contact</a></li>
  </ul>
</nav>